@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(10, 25, 47);
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body {
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
        @apply cursor-pointer
    }
}
.content-div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}
.content-div:hover{
    background-image: linear-gradient(to right,rgb(10, 25, 47), rgba(10, 25, 47 ,0.8))!important; 
    /* background-color:#0a192f ;*/
} 